<%=model.general.title%>
<form action="/<%=model.general.urlprefix+page.pageurl%>" method="post">
<table border=1>
<?var value='',filed={};?>
<%
var filedname;
for(filedname in model.fields)
{
 filed=model.fields[filedname];
 %>
 <?filed=<%=model_name%>.fields[<%=JSON.stringify(filedname)%>];?>
 <tr>
 <td><%=filed.general.title%></td>
 <td><%=app.editfields[ filed.edit.ftype ](this._.replace(vars,{'filedname':filedname,'filed':filed}));%> 
 </tr>
 <% 
}
%>
<tr><td></td><td><input type=submit value="add"> <a href="/<%=model.general.urlprefix+model.pages.list.pageurl%>">back to list</a></td></tr> 
</table>
</form>